@{
    ViewData["Title"] = "Home Page";
}


<!-- Header -->
<header id="home">
    <!-- Background Image -->
    <div class="bg-img" style="background-image: url('./img/background6.jpg');">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->
    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
        <div class="container">

            <div class="navbar-header">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="/Home">
                        <img class="logo" src="~/img/logo_no_background.png" alt="logo">
                        <img class="logo-alt" src="img/Logo2.png" alt="logo">
                    </a>
                </div>
                <!-- /Logo -->
                <!-- Collapse nav button -->
                <div class="nav-collapse">
                    <span></span>
                </div>
                <!-- /Collapse nav button -->
            </div>

            <!--  Main navigation  -->
            <ul class="main-nav nav navbar-nav navbar-right">
                <li><a href="#home">Home</a></li>
                <li><a href="#OurMenu">Menu</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <!-- /Main navigation -->

        </div>
    </nav>
    <!-- /Nav -->
    <!-- home wrapper -->
    <div class="home-wrapper">
        <div class="container">
            <div class="row">

                <!-- home content -->
                <div class="col-md-10 col-md-offset-1">
                    <div class="home-content">
                        <h1 class="white-text">Master Arepa</h1>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="nav-transparent col-md-4">
                        <img class="logo nav-transparent" src="~/img/logo_no_background.png" alt="logo" width="70%">
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="home-content col-md-12">
                        <br/>
                        <p class="white-text">
                            100% corn arepas made by traditional Colombian, which are a complete delight
                            to anyone who gets the pleasure to taste them.
                        </p>
                    </div>
                </div>
                
                <!-- /home content -->

            </div>
        </div>
    </div>
    <!-- /home wrapper -->

</header>
<!-- /Header -->
<!-- Menu -->
<div id="OurMenu" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Our Menu</h2>
            </div>
            <!-- /Section header -->
            <!-- Work -->
            <div class="col-md-6 col-xs-6 work">
                <img class="img-responsive" src="~/img/Menu.jpg" alt="">
            </div>
            <!-- /Work -->
            <!-- Work -->
            <div class="col-md-6 col-xs-6 work">
                <img class="img-responsive" src="~/img/menu_spanish.jpg" alt="">
            </div>
            <!-- /Work -->
        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Menu -->
<!-- About -->
<div id="about" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">About Us</h2>
            </div>
            <!-- /Section header -->
            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-cogs"></i>
                    <h3>Experienced</h3>
                    <p>Our team has over 5 years in the restaurant business making corn Colombian style arepas. </p>
                    <!--<a href="#">Read more</a>-->
                </div>
            </div>
            <!-- /about -->
            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-magic"></i>
                    <h3>What we Do...</h3>
                    <p>We are a top rated food truck which brings the classic Colombian corn arepa rellena, empanadas,
                    tacos and more.</p>
                </div>
            </div>
            <!-- /about -->
            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-mobile"></i>
                    <h3>Personalized </h3>
                    <p>Every single fresh corn arepa is made by hand, thus bringing the best food truck arepa in South Florida</p>
                    <!--<a href="#">Read more</a>-->
                </div>
            </div>
            <!-- /about -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /About -->
<!-- Testimonial -->
<div id="testimonial" class="section md-padding">

    <!-- Background Image -->
    <div class="bg-img" style="background-image: url('./img/background3.jpg');">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->
    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Testimonial slider -->
            <div class="col-md-10 col-md-offset-1">
                <div id="testimonial-slider" class="owl-carousel owl-theme">

                    <!-- testimonial -->
                    <div class="testimonial">
                        <div class="testimonial-meta">
                            @*<img src="./img/thumbtack.png" alt="">*@
                            <h3 class="white-text">Lauren Taylor</h3>
                            <span>Happy Customer</span>
                        </div>
                        <p class="white-text">Excellent service with a great customer support. Overall, perfect!!</p>
                    </div>
                    <!-- /testimonial -->
                    <!-- testimonial -->
                    <div class="testimonial">
                        <div class="testimonial-meta">
                            @*<img src="./img/thumbtack.png" alt="">*@
                            <h3 class="white-text">Carolina Espinoza</h3>
                            <span>Happy Customer</span>
                        </div>
                        <p class="white-text">Simply perfect</p>
                    </div>
                    <!-- /testimonial -->

                </div>
            </div>
            <!-- /Testimonial slider -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Testimonial -->
<!-- Contact -->
<div id="contact" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section-header -->
            <div class="section-header text-center">
                <h2 class="title">Get in touch</h2>
            </div>
            <!-- /Section-header -->
            <!-- contact -->
            <div class="col-sm-6">
                <div class="contact">
                    <i class="fa fa-phone"></i>
                    <h3>Phone</h3>
                    <p>(754) 232-7860</p>
                </div>
            </div>
            <!-- /contact -->
            <!-- contact -->
            <div class="col-sm-6">
                <div class="contact">
                    <i class="fa fa-envelope"></i>
                    <h3>Email</h3>
                    <p>quote@masterarepa.com</p>
                </div>
            </div>
            <!-- /contact -->
            <!-- contact form -->
            <div class="col-md-8 col-md-offset-2">
                <form asp-controller="Home" asp-action="SendEmail" method="post"
                      enctype="multipart/form-data" style="width: 100%" class="contact-form">
                    <input type="text" name="name" class="input" placeholder="Name">
                    <input type="email" name="email" class="input" placeholder="Email">
                    <input type="text" name="subject" class="input" placeholder="Subject">
                    <textarea class="input" name="message" placeholder="Message"></textarea>
                    <button class="main-btn">Send message</button>
                </form>
            </div>
            <!-- /contact form -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Contact -->
